*{
	box-sizing: border-box;
}

body {
font-family: 'Courier new';
color: #555;
font-size: 125%;
}

h1{
text-align:center;
margin-top:30px;
font-size:175%;
}

.row{
	width:100%;
	box-sizing: content-box;
}

#title1{background-color: #ff9966;}
#title2{background-color:#70db70;}
#title3{background-color:#9999ff;}

.row h4{
	position: relative;
	float:right;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	width: 130px;
	height:30px;
	margin:0;
	text-align:center;
	padding: 4px;
}


.row > section {
	margin:1%;
	border: 1px solid black;
	background-color: #eeeeee;
}

.row p {padding: 20px 20px 0px 20px;}

/* Large devices*/
@media (min-width: 992px) {
  .col-ld-4 {
    width: 31%;
	float: left;
  }
}
/* Medium devices */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6{
    width: 47%;
	float: left;
  }
}